<h3>Post Form</h3>
<form>
  <label>Post title:</label><br>
  <input type="text" name="post[title]" id="post_title" value="">
  <br>
  <label>Post description:</label><br>
  <textarea name="post[description]" id="post_description" rows="8" cols="80"></textarea><br>

  <input type="submit" name="" value="Submit Post">

</form>

<%= params.inspect %> 
